body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-gray: #666;
--color-black: #000;
--stripe-height: 7px;
--btn-color: --color-gray;
--btn-background: #fff;
--btn-color-hover: #fff;
--btn-background-hover: #666;
--border-color: #666;
--border-color-hover: #000;
}

.labelForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.region-label {
  list-style-type: none;
  font-size: larger;
  margin-left: 20px;
}

input {
  border-radius:5px;
  padding:8px;
  border-style:groove;
  opacity:0.8;

  font-weight:400;
  font-size:15px;
  position:relative;
  margin:5px;
}
input:focus {
  outline: none;
  opacity: 1;
}

button {
  border-radius: 5px;
  padding:  2px 4px 3px;
  margin: 5px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}

button:hover {
  background-color: var(--btn-background-hover);
  color: var(--btn-color-hover);
  border-color: var(--border-color-hover);
}

button:hover::after{
  background-image: repeating-linear-gradient(
                    45deg,
                    var(--btn-color-hover),
                    var(--btn-color-hover) 1px,
                    transparent 2px,
                    transparent 5px
                );
                border-top: 1px solid var(--border-color-hover);
                animation: stripe-slide 12s infinite linear forwards;
}

@keyframes stripe-slide {
  0% { background-position: 0% 0; }
  100% { background-position: 100% 0; }
}